<link rel="stylesheet" href="ebay.css">



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

<div class="ebay">
        <div class="container">
            <div class='section-logo row'>
                
                <div class="col-md-4">
                    <a href="https://reuserat.com" target="_blank"><img id="logo" class="img-fluid" src="https://s3-us-west-1.amazonaws.com/reuseratbucket/logobig.png">
                     <h3 id="logo-subtitle"><small><i>Your Life Made Easy</i></small></h3></a>
                </div>
                     

            </div>
            
                <div class="description">

                    <h4 id="product-title">Title of Product</h4>
                    <!-- placeholder, remove when putting in inkfrog-->
                    <!-- Use the following instead -->
                    <!--

                    <h4 id="product-title">{{title}}</h4>
                        {% if images %}
                    <div class="section-images">
                    <div class="row">
                    {% for image in images %}
                    <div class="col-md-4">
                          <a href="{{ image.url }}"><img class="img-fluid" src="{{ image | image_size:'400px' }}"></a>
                    </div>
                    {% endfor %}
                    </div>
                  	</div>
                  {% endif %}
                    

                    -->
                    
                    <div class="row">
                        <div class="col-md-12">
                    <div class="title">Item Description</div>
                    <!-- {{description}}-->
                    <p>This is a description of the product</p>
                    <table>
                        <tbody>
                            <tr>
                            <td>Brand:</td>
                            <td>Lap Gear</td>
                            </tr>
                            <tr>
                            <td>Quality:</td>
                            <td>Fair,Used</td>
                            </tr>
                            <tr>
                            <td>Dimensions:</td>
                            <td>
                            Can fit a 15 inch Laptop
                            </td>
                            </tr>
                            <tr>
                            <td>Weight:</td>
                            <td>2 pound</td>
                            </tr>
                            <tr>
                            <td>Color: </td>
                            <td>N/A</td>
                            </tr>
                            <tr>
                            <td>Description:</td>
                            <td>
                            The product also has writing board with clips. Has a cushion underneath the board. There may be signs of some cosmetic flaws.
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                        </div>
            </div>
                
                
                <div class="program row">
                    <div class="col-md-12">
                    <div class="title">ReuseRat Resale Program</div>
                    <p>Most of our items are in used condition because they come from people around the USA.</p>
                    <p>Visit <a href="https://reuserat.com" target="_blank">ReuseRat.com</a> to find discounted products, and buy directly from us!</p>
                    <p>Learn more about our <a href="https://sell.reuserat.com" target="_blank">mail-in program.</a></p>
                    </div>
                </div>
                
                
                <div class="shipping row">
                    <div class="col-md-12">
                    <div class="title">Shipping</div>
                    <ul>
                        <li>Free 2 Day Shipping with USPS Priority Mail for most items.</li>
                        <li>We typically ship within 24 hours.</li>
                        <li>You can USUALLY expect your package in 3 days.</li>
                        <li>If you would like to message us about a different shipping option, we would be happy to oblidge and may even knock a few $ off the price if it's cheaper!</li>
                        <li>Items are shipped out from Indiana.</li>
                    </ul>
                    </div>
                </div>
                
                <div class="return row">
                    <div class="col-md-12">
                    <div class="title">Return Policy</div>
                    <ul>
                        <li>Return within 14 days for any reason.</li>
                        <li>If after 14 days, please message us as we work on a case by case basis.</li>
                        <li>Full refund, but you pay for return shipping.</li>
                        <li>No restocking fee.</li>
                        <li>If the product arrives not as described, we pay the return shipping costs as well.</li>
                        <li>Items must be fully returned with original packaging &amp; accessories.</li>
                    </ul>
                    </div>
                </div>
                
                <div class="contact row">
                    <div class="col-md-12">
                    <div class="title">Contact</div>
                        <p>Questions, Comments, Concerns? Send us a direct message on Ebay.</p>
                        <p>Your satisfaction is our primary goal! If you are unhappy about an order, let us know and we will do whatever we can to fix it!</p>
                        
                </div>
                </div>
            </div>
        </div>
